<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154447661-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154447661-1');
    </script>

    <title>Merci !</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-3">Merci pour votre message !</h1>
      <p class="lead"><strong>Nous revenons vers vous</strong> le plus rapidement possible.</p>
      <hr>
      <p>
        Un problème ? <a href="mailto:contact@epure.io?subject=Problème Epure.io">Contactez nous</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Revenir à l'accueil</a>
      </p>
    </div>
  </body>
</html>
